RewriteEngine On
RewriteRule ^review/create/?$ api.php?f=CREATE [NC,L]

RewriteRule ^review/update/?$ api.php?f=UPDATE [NC,L]

RewriteRule ^review/delete/?$ api.php?f=DELETE [NC,L]

RewriteRule ^review?$ api.php [NC,L]
RewriteRule ^review/([0-9]+)/?$ api.php?id=$1 [NC,L]